[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-pyoidc = "*"
csh-ldap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
requests = "*"
psycopg2 = {version="*", sys_platform="== 'linux'"}
psycopg2-binary = {version="*", sys_platform="== 'darwin'"}
gunicorn = "*"

[requires]
python_version = "3.7"
